# Environment variables and secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Testing and coverage
.coverage
coverage.xml
htmlcov/

# AWS
.aws/
*.pem

# Logs
*.log
logs/

# Build and dist
dist/
build/
*.egg-info/

# temporary recipes
recipes.csv
recipes_cleaned.csv
recipes_50k.csv
recipes_50k_trimmed.csv
recipes_200k.csv